.test-mark {
	font-weight: bold;
	font-size:20px;
	font-family:galindo;
	text-shadow: 3px solid black;
}

.design {
	font-weight: bold;
	font-size:20px;
	font-family:galindo;
	text-shadow: 3px solid black;
}